.page-home {
background-image: url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-46.jpg);
 opacity: .9;
 
.btn-container{
  width: 40%;
  margin: 0px auto;
  position: relative;
  display: block;
  padding: 30px
}
.item-md {
  background-color: white;
  opacity: .4;
  
}
.Cambios{
  width:30%;
  display:block;
  margin: 0px auto;
  }
  button{color:#2F0B3A;
  }
  button span{
    text-transform: capitalize;
  }
    
  .button-md{

  }

}
