.page-home {
.btn-container{
  width: 50%;
  margin: 0px auto;
  position: relative;
  display: block;
  padding: 40px
}
  button{color:#FFFF00;
  }
  button span{
    text-transform: capitalize;
  }
    .prueba button {
      color: white;
      background-image: url(http://cdn.memegenerator.es/imagenes/memes/full/0/0/4.jpg);
    }
  .button-md{

  }

}
